{% extends "base.html" %}
{% load urlify %}
{% block head_title %}{{ instance.title}}|{{ block.super }}{% endblock head_title %}


{% block content %}
<div class="col-sm-6 col-sm-offset-3">
	<h1>{{ instance.title }} <small>{{ instance.timestamp|timesince }}</small></h1>
	{% if instance.image %}
		<img src="{{ instance.image.url }}" class="img-responsive" alt="">
	{% endif %}
	
	<p>{{ instance.content | linebreaks }}</p>
	{{instance.content|urlify}}
	{{share_string}}
	<hr>
	<div class="row">
		<div class="col-sm-12 center-block">
			<a class="btn btn-social-icon btn-facebook" href="https://facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
    			<span class="fa fa-facebook"></span>
	  		</a>
		  	<a class="btn btn-social-icon btn-twitter" href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}" target="_blank">
		    	<span class="fa fa-twitter"></span>
		  	</a>
		  	<a class="btn btn-social-icon btn-google" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target="_blank">
		    	<span class="fa fa-google"></span>
		  	</a>
		  	<a class="btn btn-social-icon btn-reddit" target="_blank">
		    	<span class="fa fa-reddit"></span>
		  	</a>
		</div>
	</div>

</div>

<hr>
<hr>
<div class="col-sm-6 col-sm-offset-3">
	<div id="disqus_thread"></div>	
</div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {

var frame = document.getElementById('disqus_thread'); 

frame.contentWindow.postMessage("Hello", '*'); 


this.page.url = 'localhost:8000{{ instance.get_absolute_url}}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ instance.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://127-0-0-1-posts.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//127-0-0-1-posts.disqus.com/count.js" async></script>

{% endblock content %}
